@use '../base/media' as *;

.aside {
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);

    @include tablet-min {
        position: initial;
    }

    &__feature-list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include tablet-min {
            gap: 16px;
        }
    }

    &__wrapper {
        position: initial;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1000;

        @include tablet-min {
            position: absolute;
            transform: translateX(-100%);
            width: 968px;
        }

        &:not(.aside__wrapper--opened) {
            .aside {
                transform: translateX(-100%);
                opacity: 0;

                @include tablet-min {
                    transform: initial
                }
            }
        }

        &--opened {
            @include tablet-min {
                transform: translateX(0);
            }
        }

        &--ready {
            transition: transform 0.3s ease-in-out;
        }
    }

    &__header {
        padding-top: 80px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
    }

    &__header-title {
        font-weight: 400;
        font-size: 48px;
        color: #fff;
    }
}

.aside-toggler-button {
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--cyan);
    color: #00171F;
    cursor: pointer;
    border: none;
    opacity: 0;
    width: 48px;
    height: 48px;
    z-index: 99;
    bottom: 16px;
    left: 16px;
    transition: 0.3s ease-in-out;

    @include tablet-min {
        z-index: initial;
        transform: translateX(-100%);
        top: 0;
        right: 0;
        width: 64px;
        height: 64px;
        display: flex;
    }

    &--ready {
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    }

    &--shown {

        opacity: 1;

        @include tablet-min {
            transform: translateX(100%);
        }
    }

    &--closed {
        z-index: -1;

        @include tablet-min {
            height: 100%;
        }
    }

    &__content {
        width: 100%;
        display: inline-flex;
        min-width: max-content;
        align-items: center;
        justify-content: center;
        gap: 11.5px;

        &--rotate-90 {
            rotate: -90deg;
        }
    }
}

.aside-toggler {
    &__icon-wrapper {
        width: 45px;
        height: 45px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 32px;
        height: 32px;

        @include tablet-min {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        line-height: 30px;
        font-weight: 500;
        font-size: 24px;
        color: #00171F;
    }
}