@use '../base/media' as *;

.aside-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    @include tablet-min {
        margin-top: 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    &__title {
        color: #fff;
        margin-bottom: 6px;
        display: none;

        @include tablet-min {
            display: block;
        }
    }

    &__counter {
        color: #fff;
        font-size: 16px;
        line-height: 130%;
        display: none;

        @include tablet-min {
            display: block;
        }
    }

    &__filter-list {
        display: flex;
        flex-direction: column;
        gap: 19px;
        align-items: flex-start;

        @include tablet-min {
            gap: 24px;
            flex-direction: row;
            align-items: center;
        }
    }

    &__nav-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    &__nav-item {
        display: flex;
        align-items: center;

        .aside-filter__nav-item-input:checked+.aside-filter__nav-item-label {
            background-color: var(--cyan);
        }
    }

    &__nav-item-input {
        display: none;
    }

    &__nav-item-label {
        font-size: 16px;
        line-height: 130%;
        color: var(--dark-blue);
        padding: 7px 16.5px;
        cursor: pointer;
        border: none;
        outline: none;
        display: inline-block;
        background-color: #F2F4F5;
        margin: 0;
        transition: background-color 0.2s ease;
    }

    &__radio-wrapper {
        position: relative;

        @include tablet-min {
            padding-inline-start: 24px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 2px;
            background-color: #fff;
            display: none;

            @include tablet-min {
                display: block;
            }
        }
    }

    &__link {
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
        display: none;

        @include tablet-min {
            display: block;
        }
    }
}