@use '../base/media' as *;

.breadcrumbs {
    display: flex;
    position: absolute;
    top: 130px;
    inset-inline-start: 16px;
    gap: 8px;
    z-index: 99;

    @include tablet-min {
        top: 72px;
        inset-inline-start: 200px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;

        &:hover {
            .breadcrumbs__link-text {
                text-decoration: underline;
            }
        }

        &-text {
            font-size: 16px;
            line-height: 130%;
            color: #fff;
        }
    }
}
