@use "../base/media" as *;

.breadcrumbs {
  display: flex;
  position: absolute;
  top: 77px;
  inset-inline-start: 16px;
  gap: 8px;
  z-index: 1951;

  .breadcrumbs__link-icon {
    width: 16px;
    height: 16px;
    display: inline-flex;
  }

  &:not(.breadcrumbs--dark-blue) {
    .breadcrumbs__link-icon {
      &--home {
        background-image: url("/public/icons/home-white.svg");
      }

      &--arrow {
        background-image: url("/public/icons/arrow-left-breadcrumb-white.svg");
      }
    }
  }

  &--dark-blue {
    .breadcrumbs__link-icon {
      &--home {
        background-image: url("/public/icons/home-dark-blue.svg");
      }

      &--arrow {
        background-image: url("/public/icons/arrow-left-breadcrumb-dark-blue.svg");
      }
    }

    .breadcrumbs__link-text {
      color: var(--dark-blue);
    }
  }

  @include tablet-min {
    top: 20px;
    inset-inline-start: 200px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;

    &:hover {
      .breadcrumbs__link-text {
        text-decoration: underline;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 130%;
      color: #fff;
    }
  }
}