@use '../base/media' as *;

.faq {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    &__item-link-list-item {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: var(--dark-blue);
        text-align: end;
        display: inline-flex;
        gap: 16px;
        justify-content: end;
        align-items: center;
        text-decoration: none;
        margin-top: 16px;

        &:not(:last-child) {
            border-bottom: 2px solid var(--dark-blue);
        }

        &-icon {
            width: 40px;
            height: 40px;
            background-color: var(--cyan-tag);
            padding: 12px;
        }
    }


    &__statement-item-link {
        background-color: #F2F4F5;
        color: #fff;
        margin-inline-end: auto;
        display: inline-flex;
        align-items: center;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--dark-blue);
        gap: 8px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 16px;
        font-size: 16px !important;

        &:hover {
            text-decoration: underline;
            color: var(--dark-blue);

            &-arrow-icon-wrapper {
                background-color: var(--dark-blue);
            }
        }

        &-arrow-icon-wrapper {
            width: 40px;
            height: 40px;
            background-color: var(--cyan-tag);
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        &-arrow-icon {
            width: 20px;
            height: 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;

        &--opened {
            .faq__item-content {
                max-height: 500px;
                opacity: 1;
                transform: translateY(0);
                padding-top: 16px;
                padding-bottom: 16px;

                @include tablet-min {
                    padding-top: 24px;
                    padding-bottom: 24px;
                }
            }

            .faq__item-toggler--icon {
                transform: rotate(0deg);
            }

            .faq__item-toggler {
                background-color: var(--cyan-tag);
            }
        }
    }

    &__item-header {
        display: flex;
        position: relative;
        border-bottom: 1px solid var(--dark-blue);
        padding: 0 0 6px 0;
        flex-direction: column;
        gap: 4px;
        padding-inline-end: 64px;
        cursor: pointer;
        min-height: 60px;

        @include tablet-min {
            padding-top: 18px;
            padding-bottom: 20px;
            flex-direction: row;
            align-items: center;
        }

        &:hover {
            .faq__item-toggler {
                background-color: var(--cyan-tag);
            }
        }

        &--with-tag {
            padding-inline-start: 12px;

            &:after {
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: var(--cyan-tag);
                inset-inline-start: 0;
                border-radius: 50%;
                top: 6px;

                @include tablet-min {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &__item-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
        padding-inline-end: 40px;
        overflow: hidden;
        transition: padding .4s ease, opacity 0.2s ease, transform 0.3s ease, max-height 0.2s ease;
        max-height: 0;
        opacity: 0;
        transform: translateY(-10px);
        padding-top: 0;
        padding-bottom: 0;

        @include tablet-min {
            font-size: 18px;
            padding-inline-end: 80px;
        }
    }

    &__item-header-date {
        color: var(--dark-blue);
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;

        @include tablet-min {
            font-size: 18px;
            padding-inline-end: 10px;
            margin-inline-end: 10px;
            border-inline-end: 1px solid var(--dark-blue);
        }
    }

    &__item-header-text {
        color: var(--dark-blue);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        @include tablet-min {
            font-size: 18px;
        }
    }

    &__item-toggler {
        position: absolute;
        inset-inline-end: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        top: 12px;
        transition: background-color 0.3s ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @include tablet-min {
            top: 0;
            width: 63px;
            height: 63px;
        }
    }

    &__item-toggler--icon {
        transform: rotate(180deg);
        width: 16px;
        height: 16px;

        @include tablet-min {
            width: 24px;
            height: 24px;
        }
    }
}