@use '../base/media' as *;


html:dir(ltr) {

    .fluid-swiper {
        .swiper-slide-next {
            @include tablet-min {
                clip-path: polygon(100% 0%, 0% 7%, 0% 94%, 100% 100%);
            }
        }

        .swiper-slide-prev {
            @include tablet-min {
                clip-path: polygon(0% 0%, 100% 7%, 100% 94%, 0% 100%);
            }
        }
    }
}

html:dir(rtl) {
    .fluid-swiper {
        .swiper-slide-next {
            @include tablet-min {
                clip-path: polygon(0% 0%, 100% 7%, 100% 94%, 0% 100%);
            }
        }

        .swiper-slide-prev {
            @include tablet-min {
                clip-path: polygon(100% 0%, 0% 7%, 0% 94%, 100% 100%);
            }
        }
    }
}

.fluid-swiper__swiper-wrapper {
    .flat-pagination-wrapper {
        right: initial;
    }

    .flat-pagination {
        inset-inline-start: 0 !important;
    }

}


.fluid-swiper {
    max-width: 1920px;
    width: 100%;
    overflow: visible;

    &__pagination {
        bottom: -64px !important;
    }

    &__slide-content-text {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        text-align: start;
        margin-top: 8px;
        color: var(--dark-blue);
        padding-inline-start: 6px;

        @include tablet-min {
            font-size: 18px;
            margin-top: 16px;
            font-size: 16px;
            line-height: 130%;
            padding-inline-start: 16px;
        }
    }

    .swiper-slide {
        transition: padding-top 0.1s ease-in-out;
        width: 100% !important;

        &:not(.swiper-slide-active) {
            @include tablet-min {
                height: 660px !important;
            }
        }

        img {
            height: 100%;
        }

        @include tablet-min {
            width: 1008px !important;
        }
    }

    .swiper-slide-active {

        @include tablet-min {
            margin-top: 48px;
            height: 574px !important;
        }

    }

    &__swiper-wrapper {
        position: relative;
        overflow: visible;
        padding-bottom: 48px !important;
    }

    &__slide-content {
        width: 100%;
        height: 100%;
        max-height: 196px;

        @include tablet-min {
            max-height: initial;
        }
    }

    &__slide {
        width: 100%;
        height: auto;
        flex-shrink: 0;
    }

    &__swiper-button-actions {
        visibility: hidden;
        margin-inline-start: auto;
        // margin-inline-end: 16px;
        gap: 8px;
        position: relative;
        display: flex;
        width: 96px;
        justify-content: space-between;
        margin-top: 38px;

        @include desktop-lg-min {
            margin-inline-end: 193px;
        }

        @include tablet-min {
            visibility: visible;
        }
    }

    &__swiper-button {
        width: 40px;
        height: 40px;
        border: 2px solid var(--dark-blue);
        position: static;
        background-color: transparent;
        cursor: pointer;
        z-index: 10;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--dark-blue);

            img {
                filter: brightness(0) invert(1);
            }
        }

        &:after {
            display: none;
        }
    }
}