@use "../base/media" as *;

.main-content__section {
  .home-benefits {
    margin-bottom: 80px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include tablet-min {
        flex-direction: row;
        justify-content: space-between;

        width: 620px;
      }

      @include desktop-min {
        width: 750px;
      }
    }

    &-item {
      position: relative;
      height: 171px;
      display: flex;
      align-items: end;
      background: linear-gradient(179.78deg, rgba(0, 0, 0, 0) 49.21%, rgba(0, 0, 0, 0.8) 72.7%);

      @include tablet-max {
        background: linear-gradient(179.25deg, rgba(0, 0, 0, 0) 0.65%, rgba(0, 0, 0, 0.8) 44.65%);
      }

      @include tablet-min {
        height: 450px;
        width: 180px;
      }

      @include desktop-min {
        width: 240px;
        height: 600px;
      }

      &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
      }

      &__link {
        position: absolute;
        bottom: 0;
        inset-inline-end: 0;
        width: 40px;
        height: 40px;
        z-index: 1;
        cursor: pointer;

        @include tablet-min {
          background-color: var(--cyan-tag);
        }

        @include desktop-lg-min {
          width: 64px;
          height: 64px;

          .arrow-link__icon {
            width: 24px;
            height: 24px;
          }
        }
      }

      &__content {
        padding-inline-end: 80px;
        padding-inline-start: 20px;
        padding-block: 20px;

        @include tablet-min {
          padding-inline-end: 12px;
          padding-inline-start: 12px;
          padding-block: 12px;
          padding-block-end: 48px;
        }

        @include desktop-lg-min {
          padding-inline-end: 16px;
          padding-inline-start: 16px;
          padding-block: 16px;
          padding-block-end: 88px;
        }
      }

      &__title {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        color: #fff;
        margin-bottom: 10px;

        @include tablet-min {
          font-size: 24px;
          line-height: 120%;
        }

        @include desktop-lg-min {
          font-size: 32px;
          line-height: 100%;
        }
      }

      &__text {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #fff;

        @include desktop-lg-min {
          font-size: 18px;
          line-height: 140%;
        }
      }
    }
  }
}
