@use "../base/media" as *;

html[dir="ltr"] {
  .swiper-video-clip-item {
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 90%);

  }
}

.swiper-video-clip-item {
  clip-path: polygon(100% 0%, 0% 0%, 0% 90%, 100% 100%);

}

.info-swiper {
  max-width: 704px;
  width: 100%;
  margin-inline-end: auto;

  @include desktop-lg-min {
    max-width: 1008px;
  }

  @include desktop-sm-min {
    max-width: 704px;
    padding-top: 14px;
  }

  @include desktop-lg-min {
    max-width: 1008px;
    padding-top: 0px;
  }

  .swiper-slide {
    @include desktop-lg-min {
      padding-inline-start: 128px;
    }
  }

  &__swiper-wrapper {
    position: relative;
    padding: 0 16px;
    z-index: 1;
  }

  &__swiper-button-actions {
    visibility: hidden;
    position: absolute !important;
    top: auto !important;
    bottom: 8px !important;
    height: 40px;
    inset-inline-end: 16px !important;
    gap: 8px;
    display: flex;
    width: 96px;
    justify-content: space-between;

    @include desktop-sm-min {
      visibility: visible;
      top: 435px;
    }

    @include desktop-lg-min {
      top: 480px;
    }
  }

  &__swiper-button {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    position: static;
    background-color: var(--dark-blue);
    margin: 0 !important;

    &--disabled {
      opacity: 0.5 !important;
      pointer-events: none !important;
    }

    &:not(.info-swiper__swiper-button--disabled) {
      &:hover {
        background-color: #fff;

        img {
          /* approximate #003459 using filter on white arrow */
          filter: brightness(0) saturate(100%) invert(12%) sepia(86%) saturate(1350%) hue-rotate(173deg) brightness(99%) contrast(104%);
        }
      }
    }

    &:after {
      display: none;
    }
  }

  &.swiper {
    @include desktop-sm-min {
      padding-top: 120px;
      margin-top: -80px;
    }

    @include desktop-lg-min {
      padding-top: 100px;
      margin-top: -100px;
    }
  }

  &__slide {
    position: relative;

    @include desktop-sm-min {
      padding-bottom: 64px;
    }

    @include desktop-lg-min {
      padding-bottom: 64px;
    }
  }

  &__card {
    background-color: rgba(#fff, 0.9);
    z-index: 10;
    position: relative;

    @include desktop-sm-min {
      position: absolute !important;
      bottom: 8px !important;
      margin: 0 !important;
      inset-inline-start: 24px !important;
      max-width: 240px !important;
    }

    @include desktop-xl-min {
      max-width: 240px !important;
      bottom: 8px !important;
      margin: 0 !important;
    }

    &-icon {
      margin-bottom: 16px;

      @include desktop-sm-min {
        margin-bottom: 8px;
      }
    }

    &-content {
      padding: 24px 16px 0 40px;

      @include desktop-sm-min {
        padding: 48px 16px 0 16px;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: var(--dark-blue);

      @include desktop-sm-min {
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 16px;
      }

      @include desktop-lg-min {
        margin-bottom: 0;
      }
    }

    &-benefit-text {
      font-family: IBM Plex Sans Hebrew;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: var(--dark-blue);
      margin-bottom: 8px;

      @include desktop-lg-min {
        margin-bottom: 24px;
      }

      p {
        padding-bottom: 8px;
      }
    }

    &-benefit-list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      gap: 8px;
    }

    &-benefit-item {
      font-family: IBM Plex Sans Hebrew;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--dark-blue);
      padding-inline-start: 12px;
      position: relative;

      @include desktop-sm-min {
        padding-inline-start: 0;
      }

      &::before {
        content: "";
        position: absolute;
        inset-inline-start: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        background-color: var(--cyan-tag);
        border-radius: 50%;

        @include desktop-sm-min {
          content: none;
        }
      }
    }

    &-footer {
      margin-top: 24px;
      display: flex;
      justify-content: flex-end;

      @include tablet-min {
        margin-top: 40px;
      }

      @include desktop-lg-min {
        margin-top: 48px;
      }
    }

    &-footer-link {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      text-decoration: none !important;

      @include tablet-min {
        gap: 16px;
      }


      &:hover {
        text-decoration: underline;

        .info-swiper__card-footer-link-icon {
          transform: rotate(-45deg);
        }
      }

      &-icon {
        width: 18px;
        height: 18px;

        &-box {
          width: 40px;
          height: 40px;
          background-color: var(--cyan-tag);
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }

      &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
      }
    }
  }

  &__swiper-pagination-wrapper {
    max-width: 704px;
    position: relative;
    margin: 25px auto 0;
    padding: 0 15px;
  }

  &__swiper-pagination {
    width: max-content !important;
    inset-inline-start: 16px !important;
    display: inline-flex;
    gap: 8px;
    bottom: -27px !important;
    top: initial !important;

    .swiper-pagination-bullet {
      opacity: 1;
      background-color: #fff;
      width: 24px;
      height: 3px;
      border-radius: 0;
      margin: 0 !important;

      &-active {
        background-color: var(--cyan-tag);
      }
    }

    @include desktop-sm-min {
      visibility: hidden;
    }
  }
}

.main-content__top-wrapper {
  @include desktop-sm-min {
    padding-bottom: 80px;
  }

  @include desktop-lg-min {
    padding-bottom: 22px;
  }
}