@use '../base/media' as *;

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 317px;
    margin-top: 24px;
    width: 320px;
    margin-inline-end: auto;
    margin-inline-start: auto;

    @include desktop-min {
        margin-inline-end: 100%;
        margin-inline-start: 0;
        width: 100%;
    }

    .form-control {
        &:not(:last-child) {
            margin-top: 8px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
    }

    &__footer {
        display: flex;
        margin-top: 24px;
        gap: 24px;
        align-items: center;
        margin-inline-end: auto;
    }

    &__footer-button {
        background-color: var(--cyan-tag) !important;
        padding: 0 !important;
        min-width: 64px;
        min-height: 64px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        flex-shrink: 0;

        img {
            height: 31px;
            width: 31px;
        }
    }

    &__error-text {
        color: #EB0008;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
}