@use '../base/media' as *;

.long-way-banner {
    padding-top: 187px;
    padding-bottom: 96px;
    position: relative;
    display: flex;
    z-index: 1;

    @include tablet-min {
        padding-top: 0;
        padding-bottom: 0;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 35% 100%, 0 calc(100% - 30px));
    }

    &--near-footer {
        margin-bottom: -64px;

        @include tablet-min {
            margin-bottom: -205px;
        }

    }

    &__clip-wrapper {
        width: 100%;
        display: flex;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: #00000066;
            z-index: 1;
            pointer-events: none;
        }
    }

    &__clip {
        width: 100%;
        height: 100%;
        max-height: 195px;
        object-fit: cover;

        @include tablet-min {
            max-height: 540px;
        }

        @include desktop-min {
            max-height: 720px;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 66px;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right: 16px;
        z-index: 5;

        @include tablet-min {
            padding: 0;
            height: auto;
            top: 50%;
            transform: translateY(-60%);
        }
    }

    &__heading {
        max-width: 250px;
        margin: 0 auto;


        @include tablet-min {
            max-width: 370px;
        }

        @include desktop-min {
            max-width: 450px;
        }
    }

    &__heading-text {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 500;
        font-size: 14px;
        line-height: 110%;
        color: var(--dark-blue);
        text-align: center;
        margin-bottom: 8px;

        @include tablet-min {
            font-size: 18px;
            color: #fff;
            line-height: 130%;
        }
    }

    &__heading-title {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 28px;
        line-height: 130%;
        text-align: center;

        color: var(--dark-blue);

        @include tablet-min {
            font-size: 40px;
            line-height: 110%;
            margin-bottom: 40px;
            color: #fff;
        }

        @include desktop-min {
            font-size: 60px;
            line-height: 110%;
            margin-bottom: 24px;
        }

    }

    &__button {
        width: max-content;
        margin: 0 auto;
        padding-inline-start: 20px !important;
        padding-inline-end: 24px !important;

        @include tablet-min {
            padding-inline-start: 32px !important;
            padding-inline-end: 16px !important;
        }
    }
}