@use '../base/media' as *;

.manager-card {
    background-color: rgba(#fff, 0.9);
    margin: 0 16px;
    margin-top: -40px;
    z-index: 10;
    position: relative;

    @include tablet-min {
        margin: 0;
        max-width: 240px;
        margin-top: -202px;
        margin-inline-start: -128px;
    }

    &__content {
        display: flex;
        padding: 16px;
        gap: 16px;
        align-items: center;

        @include tablet-min {
            align-items: initial;
            flex-direction: column;
            gap: 8px;
            padding: 48px 16px;
        }
    }

    &__image {
        width: 37px;
        height: 100%;

        @include tablet-min {
            width: 55px;
        }
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: var(--dark-blue);

        @include tablet-min {
            font-size: 24px;
            line-height: 120%;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);

        @include tablet-min {
            font-weight: 400;
            font-size: 18px;
        }
    }
}