@use "../base/media" as *;
@use "../base/mixins" as mixin;

.menu {
  width: 100%;
  inset-inline-start: 16px;
  top: 68px;
  height: 60px;
  z-index: 99;

  --nav-line-color: transparent;
  --border-height: 2px;

  @include tablet-max {
    z-index: 1002;
  }

  &--sticky {
    @include tablet-min {
      position: sticky !important;
      height: 0 !important;
    }
  }

  &--non-sticky {
    @include tablet-min {
      top: 20px;
    }

    @include tablet-max {
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  }

  @include tablet-min {
    width: 168px;
    position: absolute;
    height: min-content;
  }

  &__logo-list {
    display: flex;
    gap: 26px;
    padding: 16px 16px 8px 16px;
    background-color: var(--dark-blue);
    height: 100%;

    @include tablet-min {
      height: initial;
    }
  }

  .nav-language-dropdown {
    position: absolute;
    inset-inline-start: calc(100% + 16px);
    inset-block-start: 0;
    z-index: 999;
    height: min-content;

    &--opened {
      visibility: visible;
      opacity: 1;
    }
  }

  &__logo-link {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    padding: 10px 0;
    flex-direction: row;
    text-decoration: none;
    padding: 0;
    align-items: center;
    gap: 8px;

    @include tablet-min {
      flex-direction: column;
      align-items: flex-start;
    }

    @include tablet-max {
      flex: unset;
    }

    &--mobile {
      @include tablet-min {
        display: none;
      }
    }
  }

  &__logo-image {
    width: 28px;

    @include tablet-min {
      height: 56px;
      width: auto;
    }
  }

  &__logo-text {
    font-size: 11px;
    line-height: 10px;
    text-align: start;
    color: #fff;
    max-width: 65px;

    @include tablet-min {
      max-width: auto;
      font-size: 8px;
      line-height: 10px;
      font-weight: 600;
      line-height: 10px;
    }
  }

  &__nav-wrapper {
    display: none;
    margin-top: 8px;
    flex-direction: column;
    gap: 8px;

    @include tablet-min {
      display: flex;
    }

    @include tablet-max {
      position: fixed;
      top: -8px;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      gap: 0;
      transform: translateX(-110%);
      transition: transform .3s ease;
      z-index: 1000;


      &.is-open {
        transform: translateX(0);
      }
    }
  }

  &__nav-row {
    display: flex;
    gap: 8px;

    @include tablet-min {
      .menu__nav-link {
        justify-content: center !important;
      }

      .menu__nav-link-text {
        display: none;
      }
    }

    @include tablet-max {
      gap: 0;

      .menu__nav-item {
        &:not(:last-child) {
          border-inline-end: 2px solid var(--white);
        }
      }

      .menu__nav-link {
        justify-content: space-between;
      }
    }
  }

  &__nav-item {
    width: 100%;
  }

  &__logo-list,
  &__nav-link {
    box-shadow: 0px 9px 23px -10px rgba(0, 0, 0, 0.67);

    @include tablet-max {
      box-shadow: none;
    }
  }

  &__logo-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-list-wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .menu__nav-link--white-tag {
    --nav-line-color: var(--white);
  }

  .menu__nav-link--blue-tag,
  .menu__nav-link--dark-blue-tag {
    --nav-line-color: var(--white-60);
  }

  .menu__nav-link--cyan-tag {
    --nav-line-color: var(--light-cyan);
  }

  .menu__nav-link--dark-blue-tag.menu__nav-link--active {
    --nav-line-color: var(--cyan-tag);
    --border-height: 3px;
  }

  &__nav-link {
    position: relative;
    outline: none;
    border: none;
    width: 100%;
    display: inline-flex;
    padding: 10px 13px 10px 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    transition: padding-inline-start 0.2s ease-in-out;


    @include tablet-max {
      height: 64px;
      box-sizing: border-box;
    }

    &:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      inset-inline-start: 0;
      opacity: 0;
      border-radius: 50%;
      transition: opacity 0.2s ease-in-out, inset-inline-start 0.2s ease-in-out;
    }

    &:after {
      @include tablet-min {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        inset-inline-start: 0;
        opacity: 0;
        background-color: var(--cyan-tag);
        transition: opacity 0.2s ease-in-out;
      }

      @include tablet-max {
        content: "";
        position: absolute;
        inset-inline-start: 0;
        bottom: 0;
        width: 100%;
        height: var(--border-height);
        background-color: var(--nav-line-color);
        opacity: 1;
        transition: background-color .2s ease, opacity .2s ease;
      }
    }

    &:not(.menu__nav-link--active) {
      .menu__nav-link-icon--active {
        display: none;
      }
    }

    @include tablet-max {
      transition: none;
      padding-inline-start: 20px;
      padding-inline-end: 20px;
    }

    &--active {
      &:not(.menu__nav-link--white-tag) {
        padding-inline-start: 40px;

        &:after {
          opacity: 1;
        }
      }

      .menu__nav-link-icon--arrow:not(.menu__nav-link-icon--active) {
        opacity: 0;
      }

      .menu__nav-link-icon--active {
        position: absolute;
        inset-inline-start: 16px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        opacity: 0;

        @include mixin.ltr {
          transform: translateY(-50%) rotate(135deg);
        }
      }

      .menu__nav-link-icon--active {
        opacity: 1;
      }

      &.menu__nav-link--dark-blue-tag {
        color: var(--cyan-tag);
      }
    }

    &:not(.menu__nav-link--with-icon):not(.menu__nav-link--active):not(.menu__nav-link--white-tag) {

      @include tablet-min {
        &:hover {
          padding-inline-start: 30px;

          &:before {
            opacity: 1;
            inset-inline-start: 18px;
          }
        }
      }
    }

    &--center {
      justify-content: center;
    }

    &--blue-tag {
      background-color: var(--blue-tag);
      color: #fff;

      &:hover {
        color: #fff;

        &::before {
          background-color: #fff;
        }
      }
    }

    &--cyan-tag {
      background-color: var(--cyan-tag);
      color: var(--dark-blue);

      &:hover {
        color: var(--dark-blue);

        &::before {
          background-color: var(--dark-blue);
        }
      }
    }

    &--white-tag {
      background-color: var(--white-tag);
      color: var(--dark-blue);

      &:hover {
        color: var(--dark-blue);
      }
    }

    &--dark-blue-tag {
      background-color: var(--dark-blue);
      color: #fff;

      &:not(.menu__nav-link--active) {
        &:hover {
          color: #fff;
        }

        &::before {
          background-color: var(--cyan-tag);
        }
      }
    }

    &--close {
      position: relative;
      z-index: 10;
      background-color: var(--dark-blue);
      color: #fff;
      box-shadow: 0px 4px 4px 0px #00000029;

      @include tablet-min {
        display: none;
      }
    }

    &--with-arrow {
      &:not(.menu__nav-link--active) {
        &:hover {
          .menu__nav-link-icon--arrow {
            transform: rotate(-45deg);

            @include mixin.ltr {
              transform: rotate(135deg);
            }
          }
        }
      }
    }
  }

  &__nav-link-icon {
    &--arrow {
      width: 16px;
      height: 16px;
    }
  }
}