@use "../base/media" as *;

.news-swiper {
  max-width: 704px;
  width: 100%;
  margin-inline-end: auto;

  @include tablet-min {
    max-width: 704px;
  }

  @include desktop-min {
    max-width: 880px;
  }

  .main-content__cover-top-img--md {
    object-fit: cover;

    @include tablet-min {
      height: 373px;
    }

    @include desktop-min {
      height: 466px;
    }
  }

  &__swiper-wrapper {
    position: relative;


    @include desktop-sm-min {
      padding: 0 16px;
    }
  }

  &__swiper-button-actions {
    visibility: hidden;
    position: absolute !important;
    height: 40px;
    inset-inline-start: 0;
    visibility: hidden;
    margin-inline-start: auto;
    gap: 8px;
    position: relative;
    display: flex;
    width: 96px;
    justify-content: space-between;
    top: 0;
    inset-inline-end: 16px;

    @include desktop-sm-min {
      visibility: visible;
      top: 408px;
    }

    @include desktop-min {
      top: 456px;
    }

    @include desktop-lg-max {
      top: 498px;
    }

    @include desktop-max {
      top: 405px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      margin-top: 0;
    }
  }

  &__swiper-button {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    position: static;
    background-color: var(--dark-blue);

    &:after {
      display: none;
    }
  }

  &,
  &.swiper {
    @include desktop-sm-min {
      overflow: hidden !important;
    }
  }

  &.swiper {
    @include desktop-sm-min {
      --card-headroom: 127px;
      --card-overlap: 125px;
      padding-top: calc(var(--card-headroom) + 16px);
      margin-top: calc(var(--card-headroom) * -1);
    }

    @include desktop-lg-min {
      --card-headroom: 125px;
      --card-overlap: 113px;
      padding-top: calc(var(--card-headroom) - 26px);
      margin-top: calc(var(--card-headroom) * -1);
    }
  }

  &__slide {
    position: relative;

    @include desktop-sm-min {
      padding-bottom: 64px;
    }

    @include desktop-lg-min {
      padding-bottom: 64px;
    }
  }

  &__card {
    background-color: rgba(#fff, 0.9);
    margin: 0 16px;
    margin-top: -40px;
    z-index: 10;
    position: relative;

    @include desktop-sm-min {
      position: absolute !important;
      bottom: 8px;
      z-index: 10;
      margin: 0 !important;
      transform: translateY(calc(var(--card-headroom) * -1));
      inset-inline-start: 24px;
      max-width: 240px;
    }

    @include desktop-lg-min {
      max-width: 240px;
      margin-top: -440px;
      margin-inline-start: -128px;
    }


    &-content {
      padding: 24px 16px 0 16px;
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: var(--dark-blue);

      @include tablet-min {
        font-size: 24px;
        line-height: 120%;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--dark-blue);
      margin-top: 8px;

      @include tablet-min {
        font-weight: 400;
        font-size: 18px;
      }
    }

    &-footer {
      margin-top: 8px;
      display: flex;
      justify-content: flex-end;

      @include tablet-min {
        margin-top: 40px;
      }
    }

    &-footer-link {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;

      @include tablet-min {
        gap: 16px;
      }

      &:hover {
        text-decoration: underline;
      }

      &-icon-wrapper {
        width: 40px;
        height: 40px;
        background-color: var(--cyan-tag);
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      &-icon {
        width: 16px;
        height: 16px;

        @include desktop-min {
          width: 20px;
          height: 20px;
        }
      }

      &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
      }
    }
  }

  &__swiper-pagination-wrapper {
    max-width: 704px;
    position: relative;
    margin: 0 auto;
  }

  &__swiper-pagination {
    width: max-content !important;
    inset-inline-start: 16px !important;
    display: inline-flex;
    gap: 8px;
    bottom: -27px !important;
    top: initial !important;

    .swiper-pagination-bullet {
      opacity: 1;
      background-color: #fff;
      width: 24px;
      height: 3px;
      border-radius: 0;
      margin: 0 !important;

      &-active {
        background-color: var(--cyan-tag);
      }
    }

    @include tablet-min {
      visibility: hidden;
    }
  }
}