@use '../base/media' as *;

.safe-area {
    &__subtitle {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 110%;
        color: var(--dark-blue);
        margin-bottom: 8px;

        @include desktop-min {
            font-size: 18px;
            line-height: 130%;
        }
    }

    &__title {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 36px;
        line-height: 100%;
        color: var(--dark-blue);
        margin-bottom: 48px;

        @include desktop-min {
            font-size: 48px;
            line-height: 130%;
            margin-bottom: 80px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 16px;

        @include desktop-lg-min {
            grid-template-columns: 2fr 1fr 2fr;
        }
    }

    &__lg-image-wrapper {
        width: 100%;
        clip-path: polygon(0% 0%, 100% 6%, 100% 94%, 0% 100%);

        @include desktop-min {
            clip-path: polygon(0% 0%, 100% 6%, 100% 96%, 0% 100%);
        }

        picture {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 20%;

            @include desktop-lg-min {
                height: 100%;
            }
        }
    }

    &__sm-image-wrapper {
        width: 100%;
        padding: 20px 0;

        @include desktop-lg-min {
            padding-top: 50px;
            padding-bottom: 32px;
        }

        picture {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .value-benefits__list {
        grid-column: 1 / span 2;
        grid-row: 2;

        padding-top: 0;

        @include desktop-lg-min {
            grid-column: 1;
            grid-row: 1;
        }
    }
}