@use "../base/media" as *;

html:dir(ltr) {
  .safe-area {
    &__lg-image-wrapper {
      clip-path: polygon(0% 6%, 100% 0%, 100% 100%, 0% 94%);

      @include desktop-sm-min {
        clip-path: polygon(0% 4%, 100% 0%, 100% 100%, 0% 96%);
      }
    }

    &__sm-image-wrapper {
      @include desktop-lg-min {
        padding-top: 30px;
      }
    }
  }
}

.safe-area {
  width: 100%;

  &__subtitle {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 110%;
    color: var(--dark-blue);
    margin-bottom: 8px;

    @include desktop-sm-min {
      font-size: 18px;
      line-height: 130%;
    }
  }

  &__title {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 48px;

    @include desktop-sm-min {
      font-size: 48px;
      line-height: 130%;
      margin-bottom: 80px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 16px;

    @include desktop-sm-min {
      grid-template-columns: 372px 180px 425px;
    }

    @include desktop-xl-min {
      grid-template-columns: 496px 240px 622px;
    }
  }

  &__lg-image-wrapper {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 6%, 100% 94%, 0% 100%);
    height: 300px;

    @include desktop-sm-min {
      clip-path: polygon(0% 0%, 100% 6%, 100% 96%, 0% 100%);
      height: 520px;
    }

    @include desktop-lg-min {
      height: 666px;
    }

    picture {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: 20%;

      @include desktop-sm-min {
        height: 100%;
      }
    }
  }

  &__sm-image-wrapper {
    width: 100%;
    height: 300px;
    padding: 20px 0;

    @include desktop-sm-min {
      height: 520px;
      padding-top: 32px;
      padding-bottom: 20px;
    }

    @include desktop-lg-min {
      padding-top: 41px;
      padding-bottom: 27px;
      height: 671px;
    }

    picture {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 260px;
      object-fit: cover;

      @include desktop-sm-min {
        height: 100%;
      }
    }
  }

  .safe-area-benefits__list {
    grid-column: 1 / span 2;
    grid-row: 2;

    padding-top: 0;

    @include desktop-sm-min {
      grid-column: 1;
      grid-row: 1;
    }
  }
}
