.scrollbar-primary::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-primary::-webkit-scrollbar-track {
    background: #475A5F;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    background: #5CD7FF;
}

.scrollbar-secondary::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-secondary::-webkit-scrollbar-track {
    background: #495960;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    background: #fff;
}