@use '../base/media' as *;

.main-content__section {
    .smooth-drive {
        &__title {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 400;
            font-size: 28px;
            line-height: 130%;
            color: var(--dark-blue);
            margin-bottom: 24px;

            @include tablet-min {
                margin-bottom: 48px;
                font-size: 48px;
                line-height: 110%;
            }
        }

        &__subtitle {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            color: var(--dark-blue);
            margin-bottom: 8px;
        }

        &__card-list {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include tablet-min {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        &__card-item {
            padding: 24px;
            background-color: #fff;
            box-shadow: 0px 4px 10px 0px #0000001A;

            @include tablet-min {
                padding: 48px 24px;
            }

            &:nth-child(1) {
                @include tablet-min {
                    width: calc(62% - 8px);
                }
            }

            &:nth-child(2) {
                @include tablet-min {
                    width: calc(38% - 8px);
                }
            }

            &:nth-child(n+3) {
                @include tablet-min {
                    width: calc(50% - 8px);
                }
            }

            &-image {
                margin-bottom: 16px;

                @include tablet-min {
                    width: 60px;
                    height: 60px;
                    margin-bottom: 24px;
                }
            }

            &-title {
                font-family: IBM Plex Sans Hebrew;
                font-weight: 500;
                font-size: 18px;
                line-height: 130%;
                color: var(--dark-blue);

                @include tablet-min {
                    font-size: 24px;
                    line-height: 120%;
                }
            }

            &-description {
                font-family: IBM Plex Sans Hebrew;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #48595F;
                margin-top: 8px;

                @include tablet-min {
                    font-size: 18px;
                }
            }
        }
    }
}