@use '../base/media' as *;
@use "../base/mixins" as mixin;

.smooth-aside-link {

    // &__list-wrapper {
    //     position: sticky;
    //     top: 700px;

    //     @include desktop-lg-min {
    //         top: 780px;
    //     }
    // }

    &__list {
        display: flex;
        gap: 6px;
        padding-inline-start: 14px;
        position: relative;
        margin-bottom: 32px;

        @media (max-width: 400px) {
            width: calc(100% + 20px);

            transform: translateX(5px);

            @include mixin.ltr {
                transform: translateX(-5px);
            }
        }

        @include tablet-sm-min {
            gap: 60px;
            padding-inline-start: 27px;
            gap: 60px;
            margin-bottom: 24px;
        }

        @include desktop-min {
            flex-direction: column;
            gap: 32px;
            width: max-content;
            position: sticky;
            top: 16px;
        }
    }

    &__item {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
        padding: 4px 8px;
        text-decoration: none;
        position: relative;
        transition: background-color 0.2s ease;

        &--active,
        &:hover {
            background-color: var(--cyan-tag);
            color: var(--dark-blue);

            &:before {
                background-color: var(--cyan-tag);
            }

            &:after {
                background-color: var(--cyan-tag);
            }
        }

        @include tablet-sm-min {
            padding: 8px 16px;
            font-size: 22px;
            line-height: 130%;
        }

        @include desktop-min {
            font-size: 24px;
            line-height: 120%;
        }

        &:not(:first-child) {
            @include tablet-sm-max {
                &:after {
                    content: none;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: var(--cyan-tag);
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            inset-inline-start: -14px;
            transition: background-color 0.2s ease;

            @include tablet-sm-min {
                width: 10px;
                height: 10px;
                background-color: var(--dark-blue);
                inset-inline-start: -27px;
            }
        }

        &:before {
            transition: background-color 0.2s ease;

            @include tablet-sm-min {
                content: '';
                width: 17px;
                height: 1px;
                background-color: var(--dark-blue);
                position: absolute;
                inset-inline-start: -17px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}