@use "../base/media" as *;
@use "../base/mixins" as mixin;

.value-benefits {
  &__wrapper {
    position: relative;
    background-color: var(--gray-tag);
    padding-bottom: 56px;

    @include tablet-min {
      padding-bottom: 86px;
    }

    @include desktop-min {
      padding-bottom: 120px;
    }

    .main-content {
      margin-top: 24px;

      @include tablet-min {
        margin-top: 80px;
      }

      @include desktop-min {
        margin-top: 120px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -32px;
      width: 0;
      height: 0;
      border-left: 66vw solid transparent;
      border-right: 34vw solid transparent;
      border-bottom: 33px solid var(--gray-tag);
      pointer-events: none;
      z-index: inherit;

      @include tablet-min {
        border-left: 40vw solid transparent;
        border-right: 60vw solid transparent;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet-min {
      flex-direction: row;
      gap: 48px;
    }

    @include desktop-lg-min {
      gap: 187px;
    }
  }

  &__subtitle {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    color: var(--dark-blue);
    margin-bottom: 8px;

    @include tablet-min {
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 16px;
    }
  }

  &__title {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 16px;
    color: var(--dark-blue);

    @include tablet-min {
      font-size: 40px;
      line-height: 110%;
      margin-bottom: 32px;
    }

    @include desktop-min {
      font-size: 48px;
    }
  }

  &__description {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--dark-blue);
    margin-bottom: 24px;

    @include tablet-min {
      font-size: 20px;
      line-height: 130%;
    }
  }

  &__content-text-wrapper {
    flex-shrink: 0;

    @include desktop-min {
      margin-inline-start: 40px;
    }
  }

  &__content-text {
    max-width: 344px;
    width: 100%;

    @include desktop-lg-min {
      max-width: 465px;
    }
  }
}

.value-benefits__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;

  @include tablet-min {
    gap: 20px;
  }

  @include desktop-lg-min {
    padding-top: 20px;
  }
}

.value-benefits__item {
  display: flex;
  color: #fff;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 149px;

  @include tablet-min {
    height: 257px;
  }

  &:nth-child(1) {
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);


    @include mixin.ltr {
      clip-path: polygon(100% 20%, 0% 0%, 0% 100%, 100% 100%);
    }
  }

  &:nth-child(3) {
    clip-path: polygon(100% 0%, 0% 0%, 0% 88%, 100% 100%);

    @include mixin.ltr {
      clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 0% 100%);
    }

  }

  &--right {
    padding: 18.3px 16.6px;

    @include tablet-min {
      padding: 42px 30px;
    }

    .value-benefits__item-image {
      bottom: 10px;
      inset-inline-end: 0;
      width: 118px;

      @include tablet-min {
        width: 213px;
        bottom: 18px;
      }
    }
  }

  &--up {
    padding: 17.7px 16.6px;

    @include tablet-min {
      padding: 42px 30px;
    }

    .value-benefits__item-image {
      bottom: 19px;
      inset-inline-end: 30px;
      width: 71px;

      @include tablet-min {
        width: 127px;
        bottom: 35px;
        inset-inline-end: 55px;
      }
    }
  }

  &--boost-up {
    padding: 30.5px 16.6px;

    @include tablet-min {
      padding: 65px 30px;
    }

    .value-benefits__item-image {
      bottom: 16px;
      inset-inline-end: 0;
      width: 135px;

      @include tablet-min {
        width: 242px;
      }
    }
  }

  &-content {
    margin-top: auto;
    max-width: 190px;

    @include tablet-min {
      max-width: 345px;
    }
  }

  &-content-title {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 400;
    font-size: 22.13px;
    line-height: 100%;
    margin-bottom: 11px;

    @include tablet-min {
      font-size: 32px;
      margin-bottom: 16px;
    }

    @include desktop-min {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  &-content-text {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 400;
    font-size: 11.06px;
    line-height: 130%;

    @include tablet-min {
      font-size: 20px;
      line-height: 130%;
    }
  }

  &-image {
    position: absolute;
  }
}
