@use '../base/media' as *;

.w-hours {
    &__item {
        padding: 16px;
        gap: 16px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        flex: 1;

        @include tablet-sm-min {
            gap: 8px;
            flex-direction: column;
            padding-top: 32px;
            padding-bottom: 16px;
            padding-inline-start: 16px;
            padding-inline-end: 16px;
        }
    }

    &__header {
        flex-shrink: 0;
    }

    &__content {
        flex: 1;
    }

    &__item-icon-wrapper {
        height: 64px;
        width: 100%;
        display: none;
        align-items: center;

        @include tablet-sm-min {
            display: inline-flex;
        }
    }

    &__item-schedule-header {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: var(--dark-blue);

        @include tablet-sm-min {
            font-size: 24px;
            line-height: 120%;
        }
    }

    &__item-schedule-list {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        gap: 8px;
    }

    &__item-schedule {
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--dark-blue);

        &-time {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
        }

        &-name {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
        }
    }

    &__item-link-list-wrapper {
        background-color: var(--gray-tag);
        margin-top: 24px;
        max-width: initial;

        @include tablet-min {
            max-width: 208px;
        }

        @include desktop-min {
            max-width: initial;
        }
    }

    &__item-link-list-title {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: var(--dark-blue);
        padding: 8px;
        padding-bottom: 4px;
    }

    &__item-link-list-subtitle {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: var(--dark-blue);
        padding-top: 0 !important;
        padding: 8px;
        padding-bottom: 4px;
    }

    &__item-link-list {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
    }


    &__item-link-list-item {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: var(--dark-blue);
        text-align: end;
        display: inline-flex;
        gap: 16px;
        justify-content: end;
        align-items: center;
        text-decoration: none;

        &:not(:last-child) {
            border-bottom: 2px solid var(--dark-blue);
        }

        &-icon {
            width: 40px;
            height: 40px;
            background-color: var(--cyan-tag);
            padding: 12px;
        }
    }

    &__status {
        display: flex;
        align-items: center;
        padding: 5.5px 12px;
        background-color: #fff;
        transition: background-color 0.3s ease;
        width: fit-content;

        @include tablet-min {
            padding: 7px 16px;;
        }

        &--bg-gray {
            background-color: var(--gray-tag);
        }
    }

    &__status-indicator {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;

        @include tablet-sm-max {
            line-height: 130%;
        }

        color: var(--red-dark);

        &--active {
            color: var(--green-dark);
        }
    }
}