@use "../base/media" as *;

.wide-text {
  &__wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 70px;
    padding-bottom: 80px;

    @include tablet-min {
      margin-bottom: 60px;
    }

    @include desktop-min {
      margin-top: 120px;
      margin-bottom: 60px;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    @include desktop-lg-min {
      margin-top: 160px;
      margin-bottom: 273px;
      padding-top: 150px;
      padding-bottom: 180px;
    }
  }

  &__title {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 110%;

    @include tablet-min {
      font-size: 18px;
      line-height: 130%;
    }
  }

  &__link {
    margin-top: 32px;
  }

  &__content {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    color: #fff;

    @include tablet-min {
      font-size: 40px;
      line-height: 110%;
    }

    @include desktop-min {
      font-size: 48px;
      line-height: 110%;
      max-width: 893px;
      margin: auto;
    }

    p {
      padding-bottom: 8px;
    }
  }
}
