@use '../base/media' as *;

.world-benefits {
    &__main-content {
        margin-top: 56px;
        margin-bottom: 120px;
        z-index: 1;

        @include desktop-min {
            margin-bottom: 145px !important;
            max-width: 1330px;
        }

        @include tablet-lg-min {
            margin-left: auto;
            margin-right: auto;
        }

        @include tablet-min {
            margin-top: 120px;
            margin-bottom: 120px;
        }

        .swiper-slide {
            width: initial !important;

            @include tablet-min {

                &:nth-child(1),
                &:nth-child(5) {
                    transform: translateY(-40px);
                }

                &:nth-child(3) {
                    transform: translateY(-120px);
                }
            }

            @include tablet-lg-min {

                &:nth-child(1),
                &:nth-child(5) {
                    transform: translateY(-40px);
                }

                &:nth-child(3) {
                    transform: translateY(-80px);
                }
            }
        }

        .swiper-wrapper {
            @include tablet-min {
                padding-top: 120px;
                display: flex;
                gap: 24px;
            }

            @include tablet-lg-min {
                padding-top: 80px;
            }
        }
    }

    &__header {
        margin-bottom: 32px;

        @include tablet-min {
            margin-bottom: 6px;
        }

        @include desktop-lg-min {
            margin-bottom: 40px;
        }

        &-subtitle {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 500;
            font-size: 14px;
            line-height: 110%;
            color: var(--dark-blue);
            margin-bottom: 8px;

            @include tablet-min {
                font-size: 18px;
                line-height: 130%;
            }
        }

        &-title {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 400;
            font-size: 28px;
            line-height: 130%;
            color: var(--dark-blue);

            @include tablet-min {
                font-size: 40px;
                line-height: 110%;
            }

            @include desktop-lg-min {
                font-size: 48px;
                line-height: 110%;
            }
        }
    }
}

.world-benefits-item {
    display: inline-flex;
    flex-direction: column;
    width: 224px;

    @include tablet-min {
        width: 180px;
    }

    @include desktop-lg-min {
        width: 240px;
    }

    &__header {
        width: 100%;
        height: 169px;
        background-color: var(--white-tag);
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet-min {
            height: 150px;
        }

        @include desktop-lg-min {
            height: 200px;
        }

        &-image {
            max-width: 120px;

            @include tablet-min {
                max-width: 105px;
            }

            @include desktop-lg-min {
                max-width: 140px;
            }
        }
    }

    &__content {
        background-color: var(--dark-blue);
        padding-top: 24px;
        color: #fff;

        @include tablet-min {
            padding-top: 12px;
        }

        @include desktop-lg-min {
            padding-top: 16px;
        }

        &-title {
            padding: 0 8px;
            font-family: IBM Plex Sans Hebrew;
            font-weight: 500;
            font-size: 20px;
            line-height: 110%;

            @include tablet-min {
                font-size: 18px;
                line-height: 130%;
            }

            @include desktop-lg-min {
                font-size: 24px;
                line-height: 120%;
            }
        }

        &-text {
            padding: 16px 8px 24px 8px;
            font-family: IBM Plex Sans Hebrew;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;

            @include tablet-min {
                padding: 6px 6px 18px 6px;
            }

            @include desktop-lg-min {
                padding: 8px 8px 24px 8px;
            }
        }

        &-link-wrapper {
            display: flex;
            justify-content: flex-end;
        }
    }
}