@use "../base/media" as *;

html:dir(ltr) {
  .button__link-45-arrow {
    img {
      transform: rotateY(180deg);
    }
  }
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--gap-16 {
    gap: 16px;
  }

  &__rect {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    padding: 7.5px 15.5px;

    @include tablet-min {
      padding: 8px 22px;
      font-size: 20px;
      line-height: 140%;
    }

    &--cyan {
      background-color: var(--cyan);
      color: var(--dark-blue);
    }

    &--outline-dark-blue {
      border: 1px solid var(--dark-blue);
      color: var(--dark-blue);

      @include tablet-min {
        border-width: 2px;
      }
    }

    &--16 {
      font-size: 16px;
      line-height: 140%;

      @include tablet-min {
        font-size: 16px;
        line-height: 130%;
        padding: 8px 22.5px;
      }
    }

    &--18 {
      font-size: 16px;
      line-height: 140%;

      @include tablet-min {
        font-size: 18px;
      }
    }
  }

  &__link-45-arrow {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 11px 12px;
    padding-inline-start: 24px;
    padding-inline-end: 16px;
    font-size: 16px;
    gap: 12px;
    font-family: IBM Plex Sans Hebrew;
    font-weight: 400;
    line-height: 140%;
    color: var(--dark-blue);
    background-color: var(--cyan-tag);
    flex-shrink: 0;
    text-decoration: none !important;

    &:hover {
      color: var(--dark-blue);
      text-decoration: none;
    }

    @include tablet-sm-min {
      padding: 12px 16px;
      padding-inline-start: 32px;
      gap: 16px;
      font-size: 18px;
      line-height: 140%;
    }

    &--lg {
      font-size: 16px;

      @include tablet-sm-min {
        font-size: 20px;
        line-height: 130%;
      }

      @include desktop-min {
        font-size: 18px;
        line-height: 140%;
      }
    }
  }
}

.button__link-45-arrow--hover-dark-blue {
  &:hover {
    color: #fff !important;
    background-color: var(--dark-blue);
    transition: all 0.3s ease;

    img {
      filter: brightness(0) invert(1);
    }
  }
}