@use "../base/media" as *;

.custom-video-stop-button {
  background: var(--dark-blue);
  position: absolute;
  bottom: 40px;
  border: none;
  inset-inline-start: 16px;
  outline: none;
  width: 48px;
  height: 48px;
  display: none;
  justify-content: center;
  align-items: center;

  @include tablet-min {
    display: inline-flex;
  }

  &[aria-label="Play"] {
    .play-icon {
      display: inline-block;
    }
    .stop-icon {
      display: none;
    }
  }

  &[aria-label="Pause"] {
    .play-icon {
      display: none;
    }
    .stop-icon {
      display: inline-block;
    }
  }
}
