@use "../base/media" as *;

.custom-video-stop-button {
  background: var(--dark-blue);
  position: absolute;
  bottom: 40px;
  border: none;
  inset-inline-end: 16px;
  outline: none;
  width: 48px;
  height: 48px;
  display: none;

  @include tablet-min {
    display: block;
  }
}
