@use "../base/media" as *;

.video-controls {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 10;
  bottom: 16px;
  inset-inline-start: 16px;

  &--bottom-sm {
    bottom: 16px;
  }

  &--bottom-lg {
    bottom: 40px;
  }

  &--left {
    inset-inline-start: unset;
    inset-inline-end: 16px;
  }
}

.custom-video-stop-button,
.custom-video-mute-button {
  background: var(--dark-blue);
  border: none;
  outline: none;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;

  @include tablet-min {
    width: 48px;
    height: 48px;
  }

  .play-icon,
  .stop-icon {
    height: 20px !important;
  }

  .mute-icon,
  .unmute-icon {
    height: 22px !important;
  }

  &[aria-label="Play"] {
    .play-icon {
      display: block;
    }

    .stop-icon {
      display: none;
    }
  }

  &[aria-label="Pause"] {
    .play-icon {
      display: none;
    }

    .stop-icon {
      display: block;
    }
  }

  &[aria-label="Mute"] {
    .mute-icon {
      display: block;
    }

    .unmute-icon {
      display: none;
    }
  }

  &[aria-label="Unmute"] {
    .mute-icon {
      display: none;
    }

    .unmute-icon {
      display: block;
    }
  }
}