@use '../base/media' as *;

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .form-control {
    position: relative;
    height: 56px;
    border: 1px solid var(--dark-blue);
    border-radius: 0;
    padding: 0;

    &__placeholder {
      position: absolute;
      top: 50%;
      inset-inline-start: 24px;
      transform: translateY(-50%);
      color: var(--dark-blue);
      pointer-events: none;
      transition: all 0.3s ease;
      background: white;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;

      &::after {
        content: '';
        color: #eb0008;
        margin-left: 2px;
      }
    }

    &.has-value .form-control__placeholder,
    &__input:focus + .form-control__placeholder,
    &__input:-webkit-autofill + .form-control__placeholder {
      top: 0;
      font-size: 12px;
      transform: translateY(9px);
    }
  }
}

.form-control__input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-top: 18px;
  padding-inline-start: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--dark-blue);
  padding: 18px 24px 4px 24px;

  &:focus {
    outline: none;
  }

  &[required] + .form-control__placeholder::after {
    content: '*';
  }
}
