.form-check-label {
    &--white {
        color: #fff;
    }
}

.form-check-input {
    &--green {
        &:checked {
            background-color: var(--new-green);
            border-color: var(--new-green);
        }
    }
}

.form-switch {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;

    .form-check-input {
        cursor: pointer;
    }

    &--lg {
        .form-check-input {
            width: 48px;
            height: 28px;
        }
    }
}