.form-check-label {
  &--white {
    color: #fff;
  }
}

.form-check-input {
  margin-inline-end: -2.5rem !important;
  margin-left: 0 !important;
  background-color: transparent;
  border-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;

  &--green {
    &:checked {
      background-color: var(--new-green);
      border-color: var(--new-green);
    }
  }
}

html[dir='rtl'] {
  .form-check-input {
    background-position: right center !important;

    &:checked {
      background-position: left center !important;
    }
  }
}

.form-switch {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  padding-inline-start: 0;

  .form-check-input {
    cursor: pointer;
  }

  &--lg {
    .form-check-input {
      width: 48px;
      height: 28px;
    }
  }
}
