.form-check-label {
    &--white {
        color: #fff;
    }
}

.form-check-input {
    margin-inline-end: -2.5rem !important;
    margin-left: 0 !important;

    &--green {
        &:checked {
            background-color: var(--new-green);
            border-color: var(--new-green);
        }
    }
}



.form-switch {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    padding-inline-start: 0;

    .form-check-input {
        cursor: pointer;
    }

    &--lg {
        .form-check-input {
            width: 48px;
            height: 28px;
        }
    }
}