@use '../base/media' as *;

.stairs-gallery {
    display: flex;
    gap: 16px;
    padding: 0 16px;
    top: 0;
    z-index: 999;
    justify-content: center;
    position: relative;

    @include tablet-min {
        top: 20px;
        position: absolute;
        inset-inline-end: 24px;
    }

    @include desktop-min {
        top: 0;
        inset-inline-end: 124px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &:nth-child(1) {
            margin-top: 71px;
        }

        &:nth-child(3) {
            margin-top: 138px;
        }

        @include tablet-min {
            &:nth-child(1) {
                margin-top: 24px;
            }

            &:nth-child(3) {
                margin-top: 75px;
            }
        }
    }

    &__item {
        width: 104px;
        height: 260px;


        @include tablet-lg-min {
            width: 180px;
            height: 450px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}