@use "../base/media" as *;

@mixin with-triangle-color($color) {
  &::after {
    border-top-color: $color !important;
  }

  &::before {
    border-bottom-color: $color !important;
  }
}

.with-triangle--dark-blue {
  @include with-triangle-color(var(--dark-blue));
}

.with-triangle--white {
  @include with-triangle-color(#fff);
}

.with-triangle--gray {
  @include with-triangle-color(#f2f4f5);
}

.with-triangle--dark {
  @include with-triangle-color(#00171f);
}

.with-triangle-1--top {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    width: 0;
    height: 0;
    border-left: 77vw solid transparent;
    border-right: 23vw solid transparent;
    border-bottom: 20px solid transparent;
    pointer-events: none;
    z-index: inherit;

    @include tablet-min {
      top: -23px;
      border-bottom-width: 25px;
      border-left: 40vw solid transparent;
      border-right: 60vw solid transparent;
    }
  }
}

.with-triangle-1--bottom {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 23vw solid transparent;
    border-right: 77vw solid transparent;
    border-top: 20px solid transparent;
    pointer-events: none;
    z-index: inherit;

    @include tablet-min {
      bottom: -33px;
      border-top-width: 35px;
      border-left: 40vw solid transparent;
      border-right: 60vw solid transparent;
    }
  }
}

.with-triangle-1--bottom-inside {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    pointer-events: none;
    z-index: inherit;

    @include tablet-min {
      bottom: -1px;
      border-bottom-width: 35px;
      border-left: 60vw solid transparent;
      border-right: 40vw solid transparent;
    }
  }
}

.with-triangle-2--bottom {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 23vw solid transparent;
    border-right: 77vw solid transparent;
    border-top: 20px solid transparent;
    pointer-events: none;
    z-index: inherit;

    @include tablet-min {
      bottom: -33px;
      border-top-width: 35px;
      border-left: 60vw solid transparent;
      border-right: 40vw solid transparent;
    }
  }
}

.with-triangle-3--bottom {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 20px solid transparent;
    pointer-events: none;
    z-index: inherit;

    @include tablet-min {
      bottom: -33px;
      border-top-width: 35px;
      border-left: 40vw solid transparent;
      border-right: 60vw solid transparent;
    }
  }
}