{
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 140,
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}
