@use "../base/media" as *;

html:dir(ltr) {
  .contact-us__aside-link-image {
    transform: rotateY(180deg);
  }
}

.contact-us {
  &__layout {
    gap: 40px;

    @include tablet-min {
      flex-direction: column;
      gap: 80px;
    }

    @include desktop-lg-min {
      flex-direction: row;
      gap: 64px;
    }
  }

  &__content-aside {
    @include tablet-min {
      width: 100%;
    }

    @include desktop-lg-min {
      width: 330px;
    }

    @include desktop-lg-max {
      position: relative !important;
    }

    @include tablet-max {
      width: 100%;
    }
  }

  &__aside-title {
    margin-bottom: 24px;

    @include tablet-min {
      margin-bottom: 40px;
    }

    @include desktop-lg-min {
      margin-bottom: 64px;
    }
  }

  &__card-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include tablet-min {
      gap: 16px;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include desktop-lg-min {
      flex-direction: column;
      gap: 32px;
    }

    @media (max-width: 1580px) and (min-width: 980px) {
      display: grid;
      grid-template-columns: 330px 1fr;
      gap: 24px;
      align-items: start;
    }

    @include tablet-min {
      //grid-template-columns: 330px 1fr;
    }
  }

  &__card-col {
    display: flex;
    flex-direction: column;
    gap: 24px !important;
    min-width: 0;
  }

  &__aside-card {
    background-color: var(--dark-blue);
    color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px 0px #0000001a;
    margin-bottom: auto;

    &--content {
      padding: 24px;
    }
  }

  &__aside-card-title {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 8px;
    color: var(--cyan-tag);

    &--mb-sm {
      margin-bottom: 8px;
      font-size: 24px;

      @include tablet-min {
        margin-bottom: 16px;
      }
    }

    &--mb-lg {
      margin-bottom: 24px;
    }
  }

  &__aside-link {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    color: #fff;
    text-decoration: none;
    margin-inline-start: auto;

    &:hover {
      .contact-us__aside-link-image-wrapper {
        background-color: var(--cyan-tag);
      }
    }

    &:hover {
      color: #fff;
    }

    @include tablet-min {
      margin-top: 16px;
    }

    &-image-wrapper {
      width: 40px;
      height: 40px;
      background-color: var(--cyan-tag);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      transition: background-color 0.2s ease;
    }

    &-image {
      width: 20px;
      height: 20px;
    }

    &-text {
      font-family: IBM Plex Sans Hebrew;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }
  }

  &__aside-button {
    margin-top: 24px;

    @include desktop-lg-min {
      margin-top: 40px;
    }
  }

  &__aside-card-text {
    font-family: IBM Plex Sans Hebrew;
    color: #fff;

    &--lg {
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;

      @include tablet-min {
        font-size: 24px;
      }
    }

    &--md {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
    }

    &--variant-1 {
      margin-top: 16px;
    }
  }
}

.contact-us__aside-card {
  .t-row {
    border: 1px solid #fff;
    padding: 15px 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    min-width: 0 !important;

    @include tablet-min {
      gap: 16px;
      min-width: 295px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
      margin-top: 16px;

      @include desktop-lg-min {
        grid-template-columns: 1fr;
      }

      @include tablet-max {
        grid-template-columns: 1fr;
      }
    }

    &__title {
      font-family: IBM Plex Sans Hebrew;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: #fff;
    }

    &__table {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include tablet-min {
        gap: 14px;
      }
    }

    p,
    &__table-row {
      font-family: IBM Plex Sans Hebrew;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #fff;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}