@use '../base/media' as *;

.contact-us {
    &__layout {
        gap: 40px;

        @include tablet-min {
            flex-direction: column;
            gap: 80px;
        }

        @include desktop-lg-min {
            flex-direction: row;
            gap: 64px;
        }
    }

    &__content-aside {
        @include desktop-min {
            width: 100%;
        }

        @include desktop-lg-min {
            width: 330px;
        }
    }

    &__aside-title {
        margin-bottom: 24px;

        @include tablet-min {
            margin-bottom: 40px;
        }

        @include desktop-lg-min {
            margin-bottom: 64px;
        }
    }

    &__card-list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include tablet-min {
            gap: 16px;
            flex-direction: row;
        }

        @include desktop-lg-min {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__aside-card {
        background-color: var(--dark-blue);
        color: #fff;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 10px 0px #0000001A;


        &--330px {
            @include tablet-min {
                width: 330px;
                margin-bottom: auto;
                flex-shrink: 0;
            }
        }

        &--full {
            @include tablet-min {
                width: 100%;
            }
        }

        &--content {
            padding: 24px;
        }
    }

    &__aside-card-title {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 8px;
        color: var(--cyan-tag);

        &--mb-sm {
            margin-bottom: 8px;
            font-size: 24px;

            @include tablet-min {
                margin-bottom: 16px;
            }
        }

        &--mb-lg {
            margin-bottom: 24px;
        }
    }

    &__aside-link {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        color: #fff;
        text-decoration: none;
        margin-inline-start: auto;

        &:hover {
            .contact-us__aside-link-image-wrapper {
                background-color: var(--cyan-tag);
            }
        }

        &:hover {
            color: #fff;
        }

        @include tablet-min {
            margin-top: 16px;
        }

        &-image-wrapper {
            width: 40px;
            height: 40px;
            background-color: var(--gray-tag);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            transition: background-color 0.2s ease;
        }

        &-image {
            width: 20px;
            height: 20px;
        }

        &-text {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;

        }
    }

    &__aside-button {
        margin-top: 24px;

        @include desktop-min {
            margin-top: 40px;
        }
    }

    &__aside-card-text {
        font-family: IBM Plex Sans Hebrew;
        color: #fff;

        &--lg {
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;

            @include tablet-min {
                font-size: 24px;
            }

        }

        &--md {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;

        }

        &--variant-1 {
            margin-top: 16px;
        }
    }
}

.contact-us__aside-card {
    .t-row {
        border: 1px solid #fff;
        padding: 15px 16px;
        width: 100%;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-top: 16px;

            @include tablet-min {
                flex-direction: row;
                gap: 24px;
            }

            @include desktop-lg-min {
                flex-direction: column;
            }
        }

        &__title {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            color: #fff;

        }

        &__table {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            @include tablet-min {
                gap: 14px;
            }
        }

        &__table-row {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #fff;
        }
    }
}