@use '../base/media' as *;

.map-popup {
    height: 100%;

    &__banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrapper {
        inset-inline-end: 0;
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease-out;
        opacity: 0;
        top: 0;
        background-color: #003459;

        &--open {
            opacity: 1;
        }

        &--closing {
            opacity: 0;
        }
    }


    &__close {
        position: absolute;
        top: 0;
        left: 0;
        background: none;
        border: none;
        cursor: pointer;
        background-color: #fff;
        width: 40px;
        height: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
            height: 20px;
        }

        @include tablet-min {
            width: 64px;
            height: 64px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}


.map-warning {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 64px);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 24px 24px 24px;
    transform: translate(-50%, -50%);
    max-width: 790px;

    @include tablet-min {
        padding: 48px 80px;
    }

    &__text {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: var(--dark-blue);

        @include tablet-min {
            font-size: 18px;
            color: var(--dark-blue);
        }
    }

    &__actions {
        margin-top: 24px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        max-width: 243px;
        margin-left: auto;
        margin-right: auto;

        @include tablet-min {
            margin-top: 40px;
            gap: 24px;
        }
    }

    &__action-reject {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
        border: none;
        outline: none;
        width: 36px;
        border-bottom: 1px solid var(--dark-blue);
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
    }

    &__action-map {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
        padding: 10px;
        border: 1.5px solid var(--dark-blue);
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: var(--dark-blue);
        }
    }
}