@use '../base/media' as *;

.map-popup {
    position: relative;
    width: 343px;
    height: 499px;
    background-color: #003459;
    overflow: hidden;

    @include tablet-min {
        width: 100%;
        max-width: 708px;
        height: 480px;
    }

    &__banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 50%;
        pointer-events: none;
    }

    &__wrapper {
        position: fixed;
        inset: 0;
        z-index: 9999;

        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--overlay);
        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease-out;
        opacity: 0;
        top: 0;

        &--open {
            opacity: 1;
        }

        &--closing {
            opacity: 0;
        }
    }


    &__close {
        position: absolute;
        top: 0;
        left: 0;
        background: none;
        border: none;
        cursor: pointer;
        background-color: #fff;
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
            height: 20px;
        }

        @include tablet-min {
            width: 50px;
            height: 50px;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}


.map-warning {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 36px 34px 21px 32px;
    transform: translate(-50%, -50%);
    max-width: 790px;

    @include tablet-min {
        padding: 48px 88px 32px;
    }

    &__text {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: var(--dark-blue);

        @include tablet-min {
            font-size: 18px;
            color: var(--dark-blue);
        }
    }

    &__actions {
        margin-top: 24px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        max-width: 243px;
        margin-left: auto;
        margin-right: auto;

        @include tablet-min {
            margin-top: 25px;
            gap: 16px;
        }
    }

    &__action-reject {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
        border: none;
        outline: none;
        width: 36px;
        border-bottom: 1px solid var(--dark-blue);
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
    }

    &__action-map {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
        padding: 9.5px 10px;
        border: 1.5px solid var(--dark-blue);
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: var(--dark-blue);
        }
    }
}