@use "../base/media" as *;

html:dir(ltr) {
  .news-list__item-arrow-icon {
    transform: rotate(90deg);
  }
}

.news {
  margin-top: 16px;

  @include tablet-min {
    margin-top: 24px;
  }

  @include desktop-min {
    margin-top: 0;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--dark-blue);
  }
}

.news-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 48px 16px;
  margin-top: 16px;
  margin-bottom: 48px;

  @include tablet-min {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 64px;
  }

  &__item {
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;

    &-title {
      color: #003459;
      margin-top: 16px;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      padding-inline-end: 16px;
    }

    &-date {
      margin-top: 4px;
      color: #48595f;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      padding-inline-end: 16px;
    }

    &--large {
      grid-column: span 1;

      @include tablet-min {
        grid-column: span 2;
      }
    }

    &--small {
      grid-column: span 1;
    }

    &-image-wrapper {
      position: relative;
    }

    &-image {
      height: 204px;
      width: 100%;
      object-fit: cover;

      @include tablet-min {
        height: 276px;
      }
    }

    &-tag {
      position: absolute;
      top: 8px;
      inset-inline-start: 8px;
      background-color: #00171f;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--cyan-tag);
      padding: 4px 8px;
    }

    &-arrow {
      position: absolute;
      bottom: 0;
      inset-inline-end: 0;
      background-color: #f2f4f5;
      color: #fff;
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &-icon {
        width: 16px;

        @include tablet-min {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}