@use '../base/media' as *;

html:dir(ltr) {
    .place-popup {
        &__wrapper {
            transform: translateX(100%);

            &--open {
                transform: translateX(0);
            }
        }

        &--closing {
            transform: translateX(100%);
        }
    }
}

.place-popup {
    position: relative;
    z-index: 96;

    &__banner-image {
        width: 100%;
        height: 227px;
        object-fit: cover;

        @include desktop-sm-min {
            height: 440px;
        }
    }

    &__wrapper {
        overflow-y: auto;
        max-width: 1240px;
        inset-inline-end: 0;
        top: 110px;
        position: fixed;
        background-color: #fff;
        z-index: 1999;
        height: calc(100% - 106px);
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.2s ease-out;
        background-color: #DCE2E7;

        &--open {
            transform: translateX(0);
        }

        &--closing {
            transform: translateX(-100%);
        }

        @include tablet-min {
            top: 53px;
        }

        @include tablet-min {
            max-width: 1240px;
            height: calc(100% - 53px);
        }

        @include desktop-lg-min {
            max-width: 1352px;
            height: calc(100% - 53px);
        }
    }

    &__close {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background: none;
        border: none;
        cursor: pointer;
        background-color: #fff;
        width: 64px;
        height: 64px;
        display: none;

        img {
            width: 24px;
            height: 24px;
        }

        @include desktop-sm-min {
            display: block;
        }
    }

    &__top-shadow {
        @include desktop-min {
            &::after {
                content: none;
            }
        }
    }

    &__warning {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
        padding: 8px;
        background-color: var(--blue-tag);

        @include tablet-min {
            padding-inline-start: 48px;
            align-items: center;
        }

        &-text {
            font-family: IBM Plex Sans Hebrew;
            font-weight: 500;
            color: #fff;
            font-size: 16px;
            line-height: 130%;

            @include tablet-min {
                font-size: 24px;
                line-height: 120%;
            }
        }

        &-icon-wrapper {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            background-color: #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            @include tablet-min {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__content {
        padding-inline-start: 16px;
        padding-inline-end: 16px;
        padding-bottom: 80px;

        @include tablet-lg-min {
            padding-inline-start: 108px;
            padding-inline-end: 125px;
            padding-bottom: 64px;
        }

        @include desktop-lg-min {
            padding-inline-start: 144px;
            padding-inline-end: 200px;
            padding-bottom: 64px;
        }
    }

    &__header {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet-min {
            align-items: flex-start;
            margin-top: 40px;
        }
    }

    &__title {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 28px;
        line-height: 130%;
        text-align: right;
        color: var(--dark-blue);

        @include tablet-min {
            font-size: 60px;
            line-height: 110%;
        }

    }

    &__nav-link {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: var(--dark-blue);
        display: inline-flex;
        gap: 16px;
        padding: 12px 16px;
        padding-inline-start: 32px;
        background-color: var(--cyan-tag);
        text-decoration: none;
        align-items: center;

        &:hover {
            color: var(--dark-blue);
        }

        img {
            width: 16px;
            height: 16px;
        }
    }
}

.place-popup-section-graph {
    position: relative;
}