@use '../base/media' as *;

.video-popup {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  max-width: 375px;
  max-height: 429px;

  background-color: #003459;
  overflow: hidden;

  @include tablet-min {
    max-width: 1080px;
    max-height: 838px;
  }

  &__wrapper {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: var(--overlay);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.2s ease-out;
    opacity: 0;

    &--open {
      opacity: 1;
    }

    &--closing {
      opacity: 0;
    }
  }

  &__title {
    flex-shrink: 0;

    font-family: IBM Plex Sans Hebrew;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #fff;

    margin: 40px 0;
    padding-inline-start: 16px;

    @include tablet-min {
      font-size: 24px;
      line-height: 120%;
      margin: 56px 0 32px;
      padding-inline-start: 24px;
    }
  }

  &__content {
    flex: 1;
    min-height: 0;
    display: flex;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__action {
    flex-shrink: 0;
    padding-block: 41px 32px;
    padding-inline-start: 32px;
    padding-inline-end: 16px;

    display: flex;
    justify-content: flex-end;

    @include tablet-min {
      padding-inline-end: 24px;
      padding-top: 32px;
    }
  }

  &__action-btn {
    padding-block: 10px;
    padding-inline-start: 24px;
    padding-inline-end: 18px;
    gap: 10px;
    font-family: IBM Plex Sans Hebrew;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    @include tablet-min {
      font-size: 18px;
      padding-block: 12px;
      padding-inline-start: 32px;
      padding-inline-end: 16px;
      gap: 16px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    inset-inline-end: 0;

    width: 40px;
    height: 40px;

    background-color: #fff;
    border: none;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
    }

    @include tablet-min {
      width: 50px;
      height: 50px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
