@use '../base/media' as *;

.video-popup {
    height: 100%;

    &__wrapper {
        inset-inline-end: 0;
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease-out;
        opacity: 0;
        top: 0;
        background-color: #003459;

        &--open {
            opacity: 1;
        }

        &--closing {
            opacity: 0;
        }
    }

    &__title {
        font-family: IBM Plex Sans Hebrew;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 40px;
        margin-top: 40px;
        color: #fff;
        padding-inline-start: 16px;

        @include tablet-min {
            padding-inline-start: 24px;
            margin-top: 56px;
            font-size: 24px;
            line-height: 120%;
            margin-bottom: 32px;
        }
    }

    &__action {
        padding-inline-start: 16px;
        padding-inline-end: 16px;
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;

        @include tablet-min {
            padding-inline-start: 24px;
            margin-top: 32px;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        left: 0;
        background: none;
        border: none;
        cursor: pointer;
        background-color: #fff;
        width: 40px;
        height: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
            height: 20px;
        }

        @include tablet-min {
            width: 64px;
            height: 64px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}