@use "./base/base";
@use "./components/components";
@use "./ui/ui";
@use "./pages/pages";
@use "./base/media" as *;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  transition: opacity 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

// .wrapper--visible {
//     opacity: 1;
// }

.page-header {
  z-index: 1000;

  &__textline {
    width: 100%;
    height: 56px;
    background-color: #4e4e4e;
    color: #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding-bottom: 64px;
  position: relative;

  @include tablet-min {
    padding-bottom: 160px;
  }
}

.bg-gray {
  background-color: #f2f4f5;
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.container {
  padding: 0 16px;

  @include tablet-max {
    max-width: 100%;
  }
}

.video-popup-toggler {
  cursor: pointer;
}
