:root {
    --white: #fff;
    --cyan: #5CD6FF;
    --light-cyan: #BEEFFF;
    --dark-cyan: #00A7E1;
    --light-gray: #DCE1E7;
    --dark-blue: #003459;
    --new-red: #F66A42;
    --red-dark: #DF3603;
    --new-green: #16C223;
    --green-dark: #1F8128;
    --gray-tag: #F2F4F5;
    --blue-tag: #007EA7;
    --cyan-tag: #5CD6FF;
    --black-light: #48595F;

    --white-tag: #DCE2E7;
    --white-60: rgba(255,255,255,.6);
}