:root {
    --cyan: #5CD6FF;
    --white: #fff;
    --light-cyan: #BEEFFF;
    --light-gray: #DCE1E7;
    --dark-blue: #003459;
    --new-red: #F66A42;
    --new-green: #16C223;
    --gray-tag: #F2F4F5;
    --blue-tag: #007EA7;
    --cyan-tag: #5CD6FF;
    --white-tag: #DCE2E7;

    --white-60: rgba(255,255,255,.6);
}