@use '../base/media' as *;

.content-aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    &--sticky {
        @include desktop-min {
            position: sticky;
            top: 20px;
            align-self: flex-start;
            height: fit-content;
        }
    }

    @include desktop-min {
        width: 368px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 110%;
        color: var(--dark-blue);
        margin-bottom: 8px;

        @include tablet-min {
            font-size: 18px;
            line-height: 130%;
        }
    }

    &__tag-list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 24px;

        @include tablet-min {
            gap: 8px;
        }
    }

    &__tag-item {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-blue);
        padding: 8px 16px;
        background-color: #F2F4F5;
        cursor: pointer;
        transition: background-color 0.2s ease;

        @include tablet-min {
            font-size: 18px;
            line-height: 130%;
        }

        &--dark {
            background-color: #00171F;
            color: var(--cyan-tag);
        }

        &--4-16 {
            padding: 4px 16px !important;
        }

        &--lg {
            font-size: 18px;
            line-height: 130%;
        }

        &--white {
            background-color: #fff;
        }

        &:has(input:checked) {
            background-color: var(--dark-blue);

            .content-aside__tag-text {
                color: white;
            }
        }
    }

    &__tag-checkbox {
        display: none;
    }

    &__tag-text {
        user-select: none;
        transition: color 0.2s ease;
    }

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 110%;
        color: var(--dark-blue);
        margin-bottom: 24px;

        @include tablet-min {
            font-size: 51px;
            margin-bottom: 40px;
        }

        @include desktop-min {
            font-size: 48px;
        }

        &--md {
            font-size: 28px;
            margin-bottom: 0;

            @include tablet-min {
                font-size: 41px;
            }

            @include desktop-min {
                font-size: 48px;
            }
        }

        &--lg {
            font-size: 36px;
            margin-bottom: 0;

            @include tablet-min {
                font-size: 51px;
            }

            @include desktop-min {
                font-size: 60px;
            }
        }
    }

    &__card {
        padding: 24px;

        @include tablet-min {
            padding: 40px 24px;
        }

        &--blue {
            background-color: var(--dark-blue);
        }

        &-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            color: var(--cyan-tag);
            margin-bottom: 16px;
        }

        p:not([class]) {
            margin-bottom: 1em;
            padding-top: 1px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #fff;

            @include tablet-min {
                font-size: 18px;
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        // &-text {
        //     font-weight: 400;
        //     font-size: 18px;
        //     line-height: 140%;
        //     color: #fff;

        //     &:not(:last-child) {
        //         margin-bottom: 24px;
        //     }
        // }
    }
}