@use "../base/media" as *;

html[dir="ltr"] {
  .footer {
    &__sub {
      &-powered-by {
        flex-direction: row-reverse;
        justify-content: flex-start;
      }
    }
  }
}

.footer {
  background-color: var(--dark-blue);
  padding-top: 64px;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;

  @include tablet-min {
    padding-top: 103px;
  }

  @include desktop-lg-min {
    padding-top: 144px;
  }

  &__subtitle {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    margin-bottom: 12px;

    @include tablet-min {
      font-size: 18px;
      line-height: 130%;
      margin-bottom: 14px;
    }

    @include desktop-lg-min {
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 8px;
    }
  }

  &__title {
    font-family: IBM Plex Sans Hebrew;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 24px;
    max-width: 305px;

    @include tablet-min {
      font-size: 48px;
      line-height: 130%;
      margin-bottom: 32px;
      max-width: 500px;
    }

    @include desktop-lg-min {
      font-size: 56px;
      line-height: 110%;
      margin-bottom: 40px;
    }
  }

  &__main,
  &__sub,
  &-social {
    @include tablet-min {
      max-width: 1008px;
      flex-direction: row;
      justify-content: space-between;
      margin-inline-start: 100px;
    }

    @include desktop-sm-min {
      margin-inline-start: 308px;
    }
  }

  &__main {
    @include desktop-lg-min {
      margin: auto;
      margin-inline-start: 328px !important;
      max-width: 1161px !important;
    }
  }

  &__sub,
  &-social {
    @include desktop-min {
      margin-inline-end: 80px;
      max-width: 100%;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include tablet-min {
      max-width: 1008px;
      flex-direction: row;
      justify-content: space-between;
      margin-inline-start: 100px;
    }

    @include desktop-sm-min {
      margin-inline-start: 308px;
    }

    @include desktop-lg-min {
      gap: 160px;
    }
  }

  &-main-links {
    display: flex;
    gap: 56px;

    @include tablet-min {
      gap: 80px;
    }

    @include desktop-lg-min {
      gap: 160px;
    }

    &__list {
      display: flex;
      flex-direction: column;

      @include tablet-min {
        gap: 8px;
        padding-top: 40px;
      }

      @include desktop-lg-min {
        gap: 16px;
      }
    }

    &__link {
      font-family: IBM Plex Sans Hebrew;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: #fff;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: #fff;
      }

      @include tablet-min {
        font-size: 18px;
      }

      @include desktop-lg-min {
        font-size: 24px;
      }
    }
  }

  &-social {
    &__list {
      display: flex;
      gap: 16px;
      justify-content: flex-end;
      margin-top: 24px;

      @include tablet-min {
        margin-top: 64px;
      }
    }
  }

  &__social-link {
    cursor: pointer;

    &-image {
      width: 36px;
      height: 36px;

      @include tablet-min {
        width: 46px;
        height: 46px;
      }
    }
  }

  &__sub {
    margin-top: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "link-list link-list"
      "language-selector powered-by";
    position: relative;

    @include tablet-min {
      position: static;
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
      padding-top: 32px;
    }

    @include desktop-lg-min {
      gap: 32px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #f2f4f5;

      @include tablet-min {
        top: initial;
        transform: translateY(-32px);
        width: 100vw;
      }
    }

    &-link-list {
      display: flex;
      gap: 16px;
      grid-area: link-list;

      @include desktop-lg-min {
        gap: 32px;
      }
    }

    &-powered-by {
      display: flex;
      align-items: center;
      gap: 8px;
      grid-area: powered-by;
      justify-content: flex-end;
      font-family: Ploni ML v2 AAA;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #fff;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: #fff;
      }

      @include tablet-min {
        font-size: 18px;
        padding-inline-start: 32px;
        margin-inline-start: 8px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 10%;
          inset-inline-start: 0;
          width: 1px;
          height: 80%;
          background-color: #f2f4f5;
        }
      }

      @include desktop-lg-min {
        font-size: 24px;
        padding-inline-start: 48px;
      }

      &-logo {
        width: 75px;

        @include tablet-min {
          width: 128px;
        }
      }
    }

    &-link-item {
      font-family: IBM Plex Sans Hebrew;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      padding: 8px;

      &:hover {
        text-decoration: none;
        color: #fff;
      }

      @include tablet-min {
        font-size: 18px;
      }
    }
  }

  &__language-selector-wrapper {
    position: relative;
    grid-area: language-selector;
    margin-inline-end: auto;
    display: inline-flex;
  }

  &__language-selector-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-family: IBM Plex Sans Hebrew;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    &--opened {
      .footer__language-selector-icon:last-child {
        transform: rotate(180deg);
      }
    }

    @include tablet-min {
      font-size: 18px;
    }
  }

  &__language-selector-icon {
    transition: transform 0.2s ease;
  }

  &__language-selector-text {
    display: inline-block;
  }
}
