@use '../base/media' as *;

.footer {
    position: relative;
    background-color: var(--dark-blue);
    padding: 120px 16px 40px 16px;
    overflow: hidden;

    &--gray-bg {
        &::after {
            border-top-color: var(--gray-tag) !important;
        }
    }

    @include tablet-min {
        padding-top: 192px;
        padding-bottom: 72px;
    }

    @include desktop-min {
        padding-bottom: 192px;
    }

    @include desktop-lg-min {
        padding-bottom: 290px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 32px solid #fff;

        @include tablet-min {
            border-left-width: 50vh;
            border-right-width: 85vh;
        }
    }

    &__inner {
        max-width: 1007px;
        margin: 0 auto;

        @include desktop-lg-min {
            max-width: 1580px;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include tablet-min {
            flex-direction: row;
        }
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;

        @include tablet-min {
            margin-top: auto;
            width: 100%;
        }
    }

    &__text-subtitle {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 8px;

        @include tablet-min {
            font-size: 32px;
        }
    }

    &__text-title {
        color: #fff;
        font-weight: 400;
        font-size: 36px;
        line-height: 120%;

        @include tablet-min {
            font-size: 68px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 240px;
        width: 100%;

        @include tablet-min {
            margin-bottom: 61px;
            gap: 16px;
        }
    }

    &__nav-link {
        color: #fff;
        padding: 8px 0;
        font-family: IBM Plex Sans Hebrew;
        font-weight: 400;
        font-size: 22px;
        line-height: 130%;
        text-decoration: none;
        cursor: pointer;

        @include tablet-min {
            font-size: 28px;
        }

        &:hover {
            text-decoration: underline;
            color: #fff;
        }
    }

    &__sub {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-inline-end: 16px;
    }

    &__social-wrapper {
        display: flex;
        gap: 16px;
    }

    &__social-link {
        padding: 8px;
        text-decoration: none;
        cursor: pointer;
    }

    &__subnav {
        display: flex;
        gap: 16px;

        &-link {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            padding: 8px;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;

            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
    }

    &__powered-by {
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 100%;
        color: #fff;
        margin-top: 48px;

        @include tablet-min {
            display: none;
        }
    }

    &__powered-by-logo {
        margin-left: 4px;
    }
}