@use '../base/media' as *;


.main-content__cover-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 320px;
}

.main-content {
    max-width: 1392px;
    margin: 0 auto;
    margin-top: 51px;
    
    &__layout {
        display: flex;
        gap: 64px;
    }

    &__page {
        margin-top: 84.8px;
    }

    &__offset-70 {
        transform: translateX(-70px);
    }

    &__section {
        * {
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
        }

        &:not(.main-content__section--dark) {
            * {
                color: var(--dark-blue);
            }

            .main-content__section-title {
                color: var(--dark-blue);
            }

            .main-content__section-table-cell-text, .main-content__section-table-cell-value {
                color: var(--dark-blue);
            }

            .main-content__section-table-row {
                border-bottom: 1px solid var(--dark-blue);
            }
        }

        &--dark {
            background-color: var(--dark-blue);
            padding: 40px 24px;

            * {                
                color: #fff;
            }

            .main-content__section-table-cell-text, .main-content__section-table-cell-value {
                color: #fff;
            }

            .main-content__section-table-row {
                border-bottom: 1px solid #fff;
            }

            .main-content__section-title {
                color: var(--cyan-tag);
            }
        }

        p:not([class]) {
            margin-bottom: 1em;
            padding-top: 1px;
            
            &:first-child {
                padding-top: 0;
            }
            
            &:last-child {
                margin-bottom: 0;
            }
        }

        &:not(:last-child) {
            margin-bottom: 144px;
        }

        &-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            margin-bottom: 16px;
        }
    }
}

.main-content__section-table {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;

    &-list {
        display: flex;
        gap: 40px;
    }

    &-row {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
    }

    &-cell-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
    }

    &-cell-value {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
    }
}