$mobile: 375px;
$tablet: 980px;
$tablet-lg: 1144px;
$desktop: 1440px;
$desktop-lg: 1580px;

@mixin mobile-min {
    @media (min-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet-min {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop-min {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin mobile-max {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet-max {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin tablet-lg-max {
    @media (max-width: #{$tablet-lg}) {
        @content;
    }
}

@mixin tablet-lg-min {
    @media (min-width: #{$tablet-lg}) {
        @content;
    }
}


@mixin desktop-max {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop-lg-max {
    @media (max-width: #{$desktop-lg}) {
        @content;
    }
}

@mixin desktop-lg-min {
    @media (min-width: #{$desktop-lg}) {
        @content;
    }
}
