body *,
button,
input,
textarea,
select {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.title-h1 {
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -0.40%;
}

.title-h2 {
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.40%;
}

.title-h3 {
    font-size: 32px;
    line-height: 130%;
}

.title-h4 {
    font-size: 24px;
    line-height: 130%;
}

.title-h5 {
    font-size: 18px;
    line-height: 130%;
}

.title-h6 {
    font-size: 16px;
    line-height: 120%;
}

.text-subtitle {
    font-size: 18px;
    line-height: 130%;
}

.text-xxl {
    font-size: 36px;
    line-height: 150%;
}

.text-xl {
    font-size: 24px;
    line-height: 150%;
}

.text-l {
    font-size: 20px;
    line-height: 130%;
}

.text-m {
    font-size: 18px;
    line-height: 140%;
}

.text-s {
    font-size: 16px;
    line-height: 130%;
}

.text-xs {
    font-size: 14px;
    line-height: 110%;
}